/* classes are written according to the BEM methodology */

/* common styles */

:root {
  --main-text-color: #19385d;
  --secondary-text-color: #ffffff;
  --title-color: #0c3e96;

  --bgc-header-menu: #3a6fc9;
  --bcg-color: #ebf3ff;
  --white-bgc: #ffffff;
  --item-block-bgc: #648dd4;
  --bgc-date: #dd2a1b;
  --bgc-hero-card: #f53323;
  --bcg-color-footer: #19385d;

  --transition: 200ms;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.12;
  color: var(--main-text-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}
.link:hover,
.link:focus {
  cursor: pointer;
}

.list {
  list-style: none;
  color: inherit;
  margin: 0;
  padding: 0;
}
.card {
  background-color: antiquewhite;
}
.container {
  width: 360px;
  /* padding-left: 10px;
  padding-right: 10px; */
  margin-right: auto;
  margin-left: auto;
}

.one {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  padding: 0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.two {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin: 0 -5px;
  scroll-snap-align: center;
}

.header__container {
  padding-left: 0px;
  padding-right: 0px;
}

.menu-link {
  display: flex;
  align-items: center;
}

.menu-link:hover,
.menu-link:focus {
  transition: var(--transition);
}

.title {
  /* font-style: italic; */
  font-weight: 800;
  font-size: 36px;
  line-height: 1.14;
  color: var(--title-color);
  text-transform: uppercase;
}

/*

.item-title {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--secondary-text-color);
} */

/* .menu-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.08;
  font-weight: 400;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  display: flex;
  width: 147px;
  align-items: center;
  margin-right: 43px;
} */

/* ==============dropdown============= */
.dropdown-container {
  width: 1440px;
  display: flex;
  justify-content: center;

  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.dropdown {
  position: relative;
}

.dropdown__button {
  position: relative;
  display: block;
  width: 619px;
  text-align: left;

  background-color: var(--white-bgc);
  border: 0.5px solid var(--item-block-bgc);
  border-radius: 4px;
  height: 32px;
  color: var(--item-block-bgc);

  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 25px;

  outline: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
}

.dropdown__button:focus,
.dropdown__button--active {
  outline: none;
  box-shadow: 0px 0px 0px 2px rgba(176, 198, 225, 0.6);
}

.dropdown__button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  width: 13px;
  height: 8px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/svg/arrowdown.svg);

  pointer-events: none;
}

.dropdown__list {
  display: none;
  position: absolute;
  left: 0;
  top: 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 0.5px solid var(--item-block-bgc);
  border-top: 0px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
  overflow: hidden;
  border-radius: 4px;
  width: 619px;
  z-index: 1;
}

.dropdown__list--visible {
  display: block;
}

.dropdown__list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  background-color: var(--white-bgc);
  color: var(--item-block-bgc);
  margin: 0;
  padding: 0;
  border-bottom: 0px;
  border-top: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  cursor: pointer;
}

.dropdown__list-item:hover {
  background-color: var(--bcg-color);
  cursor: pointer;
  transform: scale(0.998);
}

.dropdown__button-up::after {
  background-image: url(../img/svg/arrowup.svg);
}

.dropdown__input-hidden {
  display: none;
}

/* ==============  header  ======================= */

.header {
  padding: 0;
  background-color: var(--item-block-bgc);
}

.header-container {
  min-width: 1440px;
  display: grid;
}

.header__nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__link-wrap {
  display: flex;
  position: relative;
  min-width: 225px;
}

.header__nav-link {
  padding-left: 15px;
  padding-right: 15px;
  z-index: 2;
  background-color: var(--bgc-header-menu);
  border-radius: 0 0 40px 0;
}

.header__nav-link--position {
  position: absolute;
  top: 0;
  left: 56px;
  padding-left: 46px;
  z-index: 1;
  background-color: var(--title-color);
}

.header__nav-pages {
  margin-left: auto;
}

.header__nav-img {
  width: 65px;
  height: 65px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.header__title {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 400;
  font-size: 46px;
  line-height: 1.1;
  letter-spacing: 3px;
  color: var(--secondary-text-color);
  text-transform: uppercase;
}

/* =================== main section ================== */
.main {
  display: flex;
  min-width: 1440px;
  height: 400px;
  background-color: #dee8fb;
}

.main__title {
  font-family: 'Archivo Black', sans-serif;
  /* font-weight: 800; */
  font-size: 32px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 32px;
}

/* .main__title-line-wrap {
  display: flex;
  flex-direction: row-reverse;
}
.main__title-line {
  display: block;
  margin-right: auto;
  width: 1130px;
  height: 1px;
  background-color: var(--item-block-bgc);
} */

.main-wrap {
  display: flex;
  flex-wrap: wrap;
  /* gap: 120px; */
  align-items: center;
  justify-content: space-evenly;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-wrap-img {
  /* width: 600px; */
}
.main-wrap-text {
  width: 310px;
  /* padding-bottom: 75px; */
}
.main-wrap-button {
  /* width: 300px; */
  /* padding-top: 245px; */
  display: grid;
  align-items: center;
}

.main__img {
  width: 350px;
}

.main__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--main-text-color);
}

/* ============button=========== */
.button {
  min-width: 330px;
  height: 40px;
  flex: 0 1 50%;
  border-radius: 30px;
  background: #9dd53a;
  background: -moz-linear-gradient(
    top,
    #9dd53a 0%,
    #a1d54f 50%,
    #80c217 51%,
    #7cbc0a 100%
  );
  background: -webkit-linear-gradient(
    top,
    #9dd53a 0%,
    #a1d54f 50%,
    #80c217 51%,
    #7cbc0a 100%
  );
  background: linear-gradient(
    to bottom,
    #9dd53a 0%,
    #a1d54f 50%,
    #80c217 51%,
    #7cbc0a 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dd53a', endColorstr='#7cbc0a', GradientType=0);
  margin: 0 0 6px 0;
  /* border: 1px solid #b8e073; */
  border: none;
  position: relative;
}

.button:hover {
  background: linear-gradient(
    to bottom,
    #97cf36 0%,
    #99ca4b 50%,
    #78b615 51%,
    #74b10a 100%
  );

  background: -moz-linear-gradient(
    #97cf36 0%,
    #99ca4b 50%,
    #78b615 51%,
    #74b10a 100%
  );
  background: -webkit-linear-gradient(
    #97cf36 0%,
    #99ca4b 50%,
    #78b615 51%,
    #74b10a 100%
  );
}

.button .sub-button {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 4px 200px 4px 4px;

  border: 2px solid #ffffff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #f85032;
  display: none;
}

.button.active .sub-button {
  display: inline-block;
}

.active {
  background: #6db3f2;
  background: linear-gradient(
    #6eb6f4 0%,
    #54a4ee 50%,
    #3790ef 51%,
    #1e67dd 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db3f2', endColorstr='#1e69de', GradientType=0);
}
.active:hover {
  background: linear-gradient(
    #68ace7 0%,
    #509ce3 50%,
    #348ae7 51%,
    #1d63d4 100%
  );
  background: -moz-linear-gradient(
    #68ace7 0%,
    #509ce3 50%,
    #348ae7 51%,
    #1d63d4 100%
  );

  background: -webkit-linear-gradient(
    #68ace7 0%,
    #509ce3 50%,
    #348ae7 51%,
    #1d63d4 100%
  );
  background: -o-linear-gradient(
    #68ace7 0%,
    #509ce3 50%,
    #348ae7 51%,
    #1d63d4 100%
  );
}

.active--error {
  background: #f85032;
  background: linear-gradient(
    #f35034 0%,
    #f57663 50%,
    #f12a10 51%,

    #e63c2d 100%
  );
  background: -moz-linear-gradient(
    #f85032 0%,
    #f16f5c 50%,
    #f6290c 51%,
    #f02f17 71%,
    #e73827 100%
  );
  background: -webkit-linear-gradient(
    color-stop(0%, #f85032),
    color-stop(50%, #f16f5c),
    color-stop(51%, #f6290c),
    color-stop(71%, #f02f17),
    color-stop(100%, #e73827)
  );

  background: -o-linear-gradient(
    #f85032 0%,
    #f16f5c 50%,
    #f6290c 51%,
    #f02f17 71%,
    #e73827 100%
  );
  background: -moz-linear-gradient(
    #f85032 0%,
    #f16f5c 50%,
    #f6290c 51%,
    #f02f17 71%,
    #e73827 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f85032', endColorstr='#e73827', GradientType=0);
}

.active--error:hover {
  background: linear-gradient(
    #e04e34 0%,
    #da6a59 50%,
    #e32a12 51%,

    #db3a2b 100%
  );
}

.button:last-child {
  margin: 0;
}

.button-text {
  display: flex;
  justify-content: center;
  padding: 0px 5px;
  color: var(--secondary-text-color);

  font-size: 20px;
  font-weight: 300;
}

.button.clicked {
  background: #f85032;
}

.button__check {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 4px 200px 4px 4px;
  padding: 2% 4%;
  border: 2px solid #ffffff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #f85032;
  display: none;
}

.button__check-text {
  color: #ffffff;
  font-size: 20px;
  padding: 1px 12px;
}

.main__button-next {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.button-next {
  width: 600px;
}
/* =================== section card =================== */

.card {
  /* padding-top: 25px;
  padding-bottom: 60px; */
}

.card__title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 18px;
  color: var(--item-block-bgc);
}

.card__pagination {
  position: relative;
  display: flex;
  margin-bottom: 25px;
  justify-content: center;
}
.card__pagination::after {
  content: '';
  position: absolute;
  top: 0;
  right: 44%;
  transform: rotate(270deg);
  width: 20px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/svg/arrowdown.svg);
  /* pointer-events: none; */
  cursor: pointer;
}
.card__pagination::before {
  content: '';
  position: absolute;
  top: 0;
  left: 44%;
  transform: rotate(90deg);
  width: 20px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/svg/arrowdown.svg);
  /* pointer-events: none; */
  cursor: pointer;
}

.card__pagination-item {
  float: left;
  cursor: pointer;
  width: 20px;
  height: 14px;
  margin: 0 2px;

  border-radius: 3px;
  border: 1px solid #678bc8;
  background-color: #678bc8;

  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.card__list {
}
.bcg {
  background-color: #ebf3ff4f;
}

.card__list-wrap {
  /* width: 1360px; */
  display: flex;
  /* background-color: #ebf3ff4f; */
  /* border-radius: 15px; */
  padding: 20px 0px;
  margin-bottom: 35px;
  justify-content: space-around;
}

.card__item {
  /* width: 340px;
  margin-right: 10px; */
  /* flex-basis: calc((100% - 20px) / 3); */
  /* margin-bottom: 40px; */
  /* align-items: center;
  justify-content: center;
  display: flex; */
}

.card__link:hover .card__item-wrap {
  box-shadow: 4px 4px 7px #b5b2b3;
}

.card__link {
  /* display: block; */
  /* flex-basis: calc((100% - 20px) / 3); */
  /* width: 90%;
  margin: 0 auto; */
}

.card__item-wrap {
  position: relative;
  top: 10px;

  width: 90%;
  height: 75vh;
  margin: 0 auto;

  box-shadow: 2px 2px 5px #b5b2b3;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
}

.card__item-img {
  position: relative;
  top: -50px;
  left: 0px;
  height: 90%;
}

.card__item-text {
  display: block;
  text-align: center;
  align-content: center;
  font-size: 16px;
  /* margin: 0 auto; */
  font-weight: 800;
  line-height: 1.1;
  /* padding: 0 0 0 10px; */
  color: var(--item-block-bgc);
}

.card__item-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  width: 170px;
  align-items: center;
  /* padding: 0px 0px 0px 10px; */
  margin-right: 15px;
  margin-left: 17px;
}

.card__item-text-wrap {
  max-width: 125px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.card__item-text--big {
  font-weight: 400;
  font-size: 56px;
  padding-left: 0;
  padding-right: 20px;
  margin-left: auto;
  align-items: flex-end;
}

.card__item-text--big > span {
  font-size: 40px;
}
.card__item-text--normal {
  font-weight: 600;
  font-size: 26px;
  padding-left: 0;
  padding-right: 31px;
  margin-left: auto;
}

/* .card__item-text::after {
  content: '';
  display: block;
  position: absolute;

  top: 66px;
  left: 153px;
  width: 31px;
  height: 31px;
  text-align: center;
  background-image: url(../img/svg/Arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  
} */

.card__button {
  display: flex;
  background: #71a1fa;
  margin: 0 auto;
  background: -moz-linear-gradient(
    top,
    #71a1fa 50%,
    #54a3ee 50%,
    #71a1fa 50%,
    #5790fa 50%,
    #5790fa 50%,
    #3690f0 50%,
    #5790fa 51%
  );
  background: -webkit-linear-gradient(
    top,
    #71a1fa 50%,
    #54a3ee 50%,
    #71a1fa 50%,
    #5790fa 50%,
    #5790fa 50%,
    #3690f0 50%,
    #5790fa 51%
  );
  background: linear-gradient(
    to bottom,
    #71a1fa 50%,
    #54a3ee 50%,
    #71a1fa 50%,
    #5790fa 50%,
    #5790fa 50%,
    #3690f0 50%,
    #5790fa 51%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71a1fa', endColorstr='#5790fa', GradientType=0);
  border: 1px solid #9ebefc;
  border-radius: 8px;
}
.card__button-text {
  width: 450px;
  margin: 10px auto;
  text-align: center;
  color: #fff;
  font-size: 26px;
  font-weight: 500;
}

/* ============================== */

.footer__nav-list {
  display: flex;
  height: 65px;
}

/* .footer__item:not(:last-child) {
  padding-bottom: 15px;
} */
.footer__item {
  /* margin-right: 40px;
  padding-left: 40px; */
  display: flex;
  /* margin-right: 10px; */
  /* position: relative;
  align-items: center; */
  /* transform: skew(-20deg, 0deg); */
  /* background-color: transparent; */
  /* padding-right: 20px;
  border-radius: 2px; */
}

.footer__link {
  padding-left: 45px;
  display: flex;
  position: relative;
  align-items: center;
  /* transform: skew(-20deg, 0deg); */
  /* background-color: transparent; */
  padding-right: 20px;
  border-radius: 2px;
}
.footer__link:hover {
  /* background-color: #0c3e9642; */
}

.footer__item:last-child {
  margin-right: 45px;
}

.footer__link-text {
  font-family: 'Archivo Black', sans-serif;
  font-size: 13px;

  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-text-color);
  visibility: hidden;
  position: absolute;
  top: 28%;
  /* transform: skew(20deg, 0deg); */
  right: 10px;
}

.footer__link-text:hover {
  visibility: visible;
}

.footer__link:hover .footer__link-text {
  /* transition-delay: var(--transition); */
  visibility: visible;
}

.footer__logo-link::before {
  content: '';
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
  /* transform: skew(20deg, 0deg); */

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
}

.logic::before {
  background-image: url(../img/svg/sec-footer/svg/logic-footer.svg);
}

.logic:hover::before,
.logic:focus::before {
  background-image: url(../img/svg/sec-footer/svg/logicrgb.svg);
}

.coin::before {
  background-image: url(../img/svg/sec-footer/svg/coin-footer.svg);
}

.coin:hover::before,
.coin:focus::before {
  background-image: url(../img/svg/sec-footer/svg/coinrgb.svg);
}

.chess::before {
  background-image: url(../img/svg/sec-footer/svg/chess-footer.svg);
}

.chess:hover::before,
.chess:focus::before {
  background-image: url(../img/svg/sec-footer/svg/chessrgb.svg);
}

.holiday::before {
  background-image: url(../img/svg/sec-footer/svg/holiday-footer.svg);
}

.holiday:hover::before,
.holiday:focus::before {
  background-image: url(../img/svg/sec-footer/svg/holidayrgb.svg);
}
